Repository gaia-app/gaia, pull requests merged in 2020-02, with the labels that each got.

#219 🍱 : update logo
  README.md
  assets/gaia_logo_with_title.png
  src/main/resources/static/favicon.ico
  src/main/resources/static/images/gaia.png
Labels: 👌 ready for review

#220 ✨ custom terraform image
  pom.xml
  src/main/java/io/codeka/gaia/dashboard/controller/UIExtensionsControllerAdvice.kt
  src/main/java/io/codeka/gaia/modules/api/DockerRegistryApi.kt
  src/main/java/io/codeka/gaia/modules/api/DockerRegistryResponse.kt
  src/main/java/io/codeka/gaia/modules/bo/TerraformImage.kt
  src/main/java/io/codeka/gaia/modules/bo/TerraformModule.java
  src/main/java/io/codeka/gaia/modules/controller/DockerRegistryRestController.kt
  src/main/java/io/codeka/gaia/modules/controller/TerraformCLIController.java
  src/main/java/io/codeka/gaia/modules/repository/TerraformCLIRepository.java
  src/main/java/io/codeka/gaia/registries/RegistryRawContent.kt
  src/main/java/io/codeka/gaia/registries/controller/GithubRegistryController.kt
  src/main/java/io/codeka/gaia/registries/controller/GitlabRegistryController.kt
  src/main/java/io/codeka/gaia/registries/github/GitHubRawContent.kt
  src/main/java/io/codeka/gaia/registries/github/GithubRegistryApi.kt
  src/main/java/io/codeka/gaia/registries/gitlab/GitLabRawContent.kt
  src/main/java/io/codeka/gaia/registries/gitlab/GitlabRegistryApi.kt
  src/main/java/io/codeka/gaia/registries/service/RegistryService.kt
  src/main/java/io/codeka/gaia/runner/DockerRunner.java
  src/main/java/io/codeka/gaia/runner/StackCommandBuilder.java
  src/main/java/io/codeka/gaia/stacks/bo/Job.java
  src/main/java/io/codeka/gaia/stacks/bo/mustache/TerraformScript.java
  src/main/java/io/codeka/gaia/stacks/controller/StackController.java
  src/main/resources/application.properties
  src/main/resources/mustache/terraform.mustache
  src/main/resources/templates/job.html
  src/main/resources/templates/module.html
  src/main/resources/templates/module_description.html
  src/main/resources/templates/modules.html
  src/main/resources/templates/modules_import.html
  src/main/resources/templates/vue_templates/components/cli-badge.vue
  src/main/resources/templates/vue_templates/components/form-typeahead.vue
  src/main/resources/templates/vue_templates/components/terraform-image-input.vue
  src/test/java/io/codeka/gaia/e2e/ModulePage.kt
  src/test/java/io/codeka/gaia/e2e/ModulesPage.kt
  src/test/java/io/codeka/gaia/e2e/SeleniumIT.java
  src/test/java/io/codeka/gaia/modules/api/DockerRegistryApiTest.kt
  src/test/java/io/codeka/gaia/modules/controller/DockerRegistryRestControllerIT.kt
  src/test/java/io/codeka/gaia/modules/controller/DockerRegistryRestControllerTest.kt
  src/test/java/io/codeka/gaia/modules/controller/ModuleRestControllerIT.java
  src/test/java/io/codeka/gaia/modules/controller/TerraformCLIControllerTest.java
  src/test/java/io/codeka/gaia/modules/repository/TerraformCLIRepositoryTest.java
  src/test/java/io/codeka/gaia/registries/controller/GithubRegistryControllerIT.kt
  src/test/java/io/codeka/gaia/registries/controller/GithubRegistryControllerTest.kt
  src/test/java/io/codeka/gaia/registries/controller/GitlabRegistryControllerIT.kt
  src/test/java/io/codeka/gaia/registries/controller/GitlabRegistryControllerTest.kt
  src/test/java/io/codeka/gaia/registries/github/GitHubRawContentTest.java
  src/test/java/io/codeka/gaia/registries/github/GithubRegistryApiTest.kt
  src/test/java/io/codeka/gaia/registries/gitlab/GitLabRawContentTest.java
  src/test/java/io/codeka/gaia/registries/service/RegistryServiceImplTest.kt
  src/test/java/io/codeka/gaia/runner/DockerRunnerIT.kt
  src/test/java/io/codeka/gaia/runner/DockerRunnerTest.java
  src/test/java/io/codeka/gaia/runner/StackCommandBuilderTest.java
  src/test/java/io/codeka/gaia/stacks/controller/StackControllerTest.java
  src/test/java/io/codeka/gaia/teams/controller/TeamsRestControllerIT.java
  src/test/java/io/codeka/gaia/test/KotlinUtils.kt
  src/test/resources/db/20_module.js
  src/test/resources/rest/docker-hub/terraform-repositories.json
  src/test/resources/rest/docker-hub/terraform-tags.json
Labels: ✨ enhancement, ✨ feature:modules, 👌 ready for review, 👤 user:admin, 👤 user:end-user

#221 ✨ job removal
  src/main/java/io/codeka/gaia/modules/bo/TerraformImage.kt
  src/main/java/io/codeka/gaia/runner/StackCommandBuilder.java
  src/main/java/io/codeka/gaia/runner/StackRunner.java
  src/main/java/io/codeka/gaia/stacks/bo/Job.java
  src/main/java/io/codeka/gaia/stacks/controller/JobRestController.java
  src/main/resources/static/css/style.css
  src/main/resources/templates/job.html
  src/main/resources/templates/stack.html
  src/main/resources/templates/vue_templates/components/job/job-history.vue
  src/main/resources/templates/vue_templates/components/job/job-metadata.vue
  src/test/java/io/codeka/gaia/modules/bo/TerraformImageTest.kt
  src/test/java/io/codeka/gaia/modules/controller/ModuleRestControllerIT.java
  src/test/java/io/codeka/gaia/runner/StackCommandBuilderTest.java
  src/test/java/io/codeka/gaia/runner/StackRunnerTest.java
  src/test/java/io/codeka/gaia/stacks/controller/JobRestControllerTest.java
Labels: ✨ feature:jobs, 👌 ready for review, 👤 user:admin, 👤 user:end-user

#224 🔒 : secure api state endpoint
  src/main/java/io/codeka/gaia/config/security/SecurityConfig.java
  src/main/java/io/codeka/gaia/config/security/StateApiSecurityConfig.java
  src/main/java/io/codeka/gaia/hcl/HclParserImpl.kt
  src/main/java/io/codeka/gaia/modules/bo/TerraformImage.kt
  src/main/java/io/codeka/gaia/runner/StackCommandBuilder.java
  src/main/java/io/codeka/gaia/stacks/bo/mustache/TerraformScript.java
  src/main/java/io/codeka/gaia/teams/controller/UserControllerAdvice.java
  src/main/resources/mustache/terraform.mustache
  src/main/resources/templates/stack.html
  src/test/java/io/codeka/gaia/config/security/StateApiSecurityConfigIT.java
  src/test/java/io/codeka/gaia/e2e/JobPage.kt
  src/test/java/io/codeka/gaia/e2e/SeleniumIT.java
  src/test/java/io/codeka/gaia/e2e/StackPage.kt
  src/test/java/io/codeka/gaia/runner/StackCommandBuilderTest.java
  src/test/java/io/codeka/gaia/stacks/controller/StackRestControllerIT.java
  src/test/resources/db/30_stack.js
  src/test/resources/db/40_job.js
  src/test/resources/db/50_step.js
  src/test/resources/db/60_terraformState.js
Labels: ✅ tests, ✨ feature:jobs, ✨ feature:stacks, 👌 ready for review, 👤 user:end-user, 🔒 security
